body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: #d2ff72;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #73ec8b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0px;
}

.sidebar nav ul li {
    padding: 10px;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.welcome {
    margin-right: 380px;
}

.search {
    margin-right: 5px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid #15b392;
}
.search-btn {
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    background: #15b392;
    color: white;
    font-size: 12px;
}
.login-btn, .register-btn {
    margin-right: 5px;
    border: none;
    background: #15b392;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 2px 5px;
}

.calendar {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
}